[Desktop Entry]
Encoding=UTF-8
Name=Wunderground
Comment=Wunderground Personal Weather Station viewer
Type=Service
Icon=weather

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=k-donn
X-KDE-PluginInfo-Email=k-donn@github.com
X-KDE-PluginInfo-License=GPL2-or-later
X-KDE-PluginInfo-Name=com.github.k-donn.plasmoid-wunderground
X-KDE-PluginInfo-Version=2.3.6
X-KDE-PluginInfo-Website=https://github.com/k-donn/plasmoid-wunderground
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Category=Environment and Weather
X-Plasma-NotificationArea=true
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
