[Desktop Entry]
Encoding=UTF-8
Name=Wunderground Extended
Comment=Wunderground PWS extended
Type=Service
Icon=weather

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Rafal (Raf) Liwoch
X-KDE-PluginInfo-Email=rafal.liwoch@gmail.com
X-KDE-PluginInfo-License=GPL2-or-later
X-KDE-PluginInfo-Name=com.github.rliwoch.plasmoid-wunderground-extended
X-KDE-PluginInfo-Version=0.4.1
X-KDE-PluginInfo-Website=https://github.com/rliwoch/plasmoid-wunderground-extended
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Category=Environment and Weather
X-Plasma-NotificationArea=true
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
